/*   
Theme Name: Justin Wrzesinski
Theme URI: http://justinwmusic.com
Description: Custom theme for Justin Wrzesinski.
Author: Kevin McGillivray
Author URI: http://kevinmcgillivray.net
Version: 2.0
*/

@import url('css/bootstrap.min.css');
		
	body {
		background-color: #edece8;
		font-family: "proxima-nova",sans-serif;
		color: #707070;
	}
	.container {
		max-width: 1028px;
	}
	h1, h2, h3, h4, h5, h6 {
		line-height: 1.2;
		color: #a38e81;
	}
	hr {
		border: 0;
		border-top: 1px solid #eeeeee;
	}
	img {
		max-width: 100%;
		height: auto;
	}
	.main-content {
		background-color: white;
		padding: 15px;
	}
	.btn {
		background-color: #a38e81;
		border: none;
		margin-top: 25px;
	}
	.btn:hover {
		background-color: #5692BA;
	}
	a {
		color: #5692BA;
	}
	a:hover {
		color: #3F6E82;
	}
	
/* Header Styles */
	#name a {
		font-size: 47px;
		color: #a38e81;
		font-family: Georgia;
		font-weight: bold;
	}
	#name a:hover {
		text-decoration: none;
	}
	
	#social-media li {
		display: none;
	}
	#social-media li:hover {
		opacity: 1;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	.navbar-wrapper {
		margin-top: 10px;
	}
	.navbar {
		border: none;
		background-color: white;
		border-radius: 0;
	}
	.navbar-nav > li:hover {
		background-color: #E7E7E7;
	}
	.navbar-nav > li > a {
		font-size: 17px;
		font-weight: 500;
		color: #707070 !important;
	}

/* Body Styles */
	.carousel-control {
	}
	#short-bio {
		font-weight: 700;
		font-size: 35px;
		color: white;
		padding: 30px;
		line-height: 35px;
		text-align: center;
	}
	#bio-banner {
		background: #5692BA;
		margin: 20px -30px 10px -30px;
		position: relative;
	}
	#bio-banner:after, #bio-banner:before {
		content: '';
		display: block;
		height: 20px;
		width: 8px;
		position: absolute;
		top: -45px;
		background: transparent;
		z-index: -1;
		border-bottom: 45px solid #3F6E82;
	}
	#bio-banner:after {
		left: 0px;
		border-left: 45px solid transparent;
	}
	#bio-banner:before {
		right: 0px;
		border-right: 45px solid transparent;
	}
	iframe {
		height: 556px;
		width: 988px;
	}
	.carousel-control {
		background-image: none !important;
		width: 0;
	}
	.left {
		left: 3%;
	}
	.right {
		right: 3% !important;
	}
	
/* Sidebar Styles */
aside ul {
	list-style: none;
	padding: 0;
}
	
/* Footer Styles */

	footer {
		margin: 25px 0px 40px 0px;
	}
	
	footer a {
		text-decoration: none;
		color: #50504f;
		border-bottom: 1px dotted gray;
	}
	
	footer a:hover {
		text-decoration: none;
		color: #91918f;
	}
	
	#copyright {
		font-size: 16px;
		color: #91918f;
	}
	
	footer form {
		float: right;
	}
	
	.post {
		padding: 20px;
	}

/* Gigpress Styles */

	#gigpress {
		margin-top: 15px;
	}
	th.gigpress-date {
		display: none;
	}

	th.gigpress-city {
		display: none;
	}

	th.gigpress-venue {
		display: none;
	}

	th.gigpress-country {
		display: none;
	}

	td.gigpress-country {
		display: none;
	}
	ul.gigpress-related-show {
		padding: 0;
	}
	
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
	body {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	#social-media li {
		display: inline-block;
		margin-left: 16px;
		opacity: 0.6;
		margin-top: 30px;
	}
	.navbar-nav > li > a {
		font-size: 20px;
		font-weight: 500;
		color: #707070 !important;
	}
	.btn {
		margin-top: 12px;
	}
}
